<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>You have a new comment from: <%= @commenter %></h4>
    <br/>
    <i><%= @comment %></i>
  </body>
</html>
