<header class="flex mb-4 justify-between lg:mb-6 not-format">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
        List of All Articles
    </h1>
    <div>
        <%= link_to 'Create New Article ( + )',
            new_article_path,
            class: "px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800"
        %>
    </div>
</header>

<section class="flex flex-wrap align-items-start">
    <% @articles.each do |article| %>
        <div class="mx-1 h-auto max-w-sm my-2  p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <%= article.title %>
                </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= truncate(strip_tags(article.text.to_s), length: 150) %></p>
            <%= link_to article_path(article), class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" do %>
            Read More
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            <% end %>
        </div>
    <% end %>
</section>